body {
    background-color: rgb(249, 151, 167); 
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
}
header {
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
    background-image: url(https://i.pinimg.com/736x/c2/24/1b/c2241b6f04f015265405b9ab5fa2e5b5.jpg);
    background-position: center;
   
}
header div {
    text-align: center;
    background-color: whitesmoke;
    color: rgb(249, 151, 167);
    border-radius: 30px;
    padding: 10px;
    width: 40%;
    height: 80%;
    max-width: 400px;
}
main {
    background-color: whitesmoke;
    color: rgb(249, 151, 167);
    margin: 10px;
    border-radius: 30px;
    padding: 5px;
}
footer {
    background-color: whitesmoke;
    color: rgb(249, 151, 167);
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
}
