html {
    height: auto;
    min-height: 100%;
    position: relative;
}
body {
    background-color: rgb(249, 151, 167); 
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    height: auto;
    position: initial;
}
header {
    color: whitesmoke;
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
    background-image: url(https://i.pinimg.com/736x/c2/24/1b/c2241b6f04f015265405b9ab5fa2e5b5.jpg);
    background-position: center;
   
}
header div {
    text-align: center;
    background-color: whitesmoke;
    color: rgb(249, 151, 167);
    border-radius: 30px;
    padding: 10px;
    width: 40%;
    height: 80%;
    max-width: 400px;
}
main {
    /* background-color: whitesmoke; */
    color: rgb(249, 151, 167);
    margin: 10px 10px 55px;
    border-radius: 30px;
    padding: 10px;
    font-size: 1.2rem;
}
footer {
    background-color: whitesmoke;
    color: rgb(249, 151, 167);
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

a {
   color: rgb(39, 117, 117);
   text-decoration: none;
   transition: 1s 2s;
}
a:link {
    color: palevioletred;
    text-decoration: underline dotted;
}
a:visited {
    color: red;
    text-decoration: underline dotted;
}
a:hover {
    color: purple;
    text-decoration: underline;
    transition: 0.3s;
}
a:active {
    color: black;
    text-decoration: wavy underline;
}
div.menu {
    border: 3px solid;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: rgb(213, 233, 181);
    box-shadow: 0 0 15px rgb(182, 203, 147);
}
